{% block content %}
<form class="Attendence" method="POST"  action=".">
<table>
{% for f in attendence %}
 <tr><td> {{f.label}}</td></tr>
           <button class="Attendence" type="submit">Student Attendence</button>
                 </form>
                 {% if request.session.msg1 %}
                 <h3>{{request.session.msg1}}
                 </h3>
               {% endif %}               
  {% endfor %}
 {% endblock %}
