<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<TITLE> New Document </TITLE>
<META NAME="Generator" CONTENT="EditPlus">
<META NAME="Author" CONTENT="">
<META NAME="Keywords" CONTENT="">
<META NAME="Description" CONTENT="">
</HEAD>

<BODY>
<form role="form" action="." method="post">
	         
{% csrf_token %} 
<!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->
           
          
<!-- If there are non-field errors in the form,
                iterate over them one by one and display them.
            -->
       
{% if form.non_field_errors %}
            
<p class="error">
		          
{% for error in form.non_field_errors %}
		            
{{ error }}
		          {% endfor %}
            </p>
           {% endif %}
          
<!-- Iterate over the fields in a form and render them  -->
        
{% for field in form %}
           
<div class="form-group">
             
<!-- Render the field label tag -->
		          
{{ field.label_tag }}
              
<!-- If the field is required, display a * next to the field label -->
          
{% if field.field.required %}
              *
        
{% endif %}
              <br/>
             
<!-- Render the input field -->
		         
{{ field }}
		        
<!-- Iterate over the field's errors, if any and display
                 them one by one in a error alert
            -->
		        
{% if field.errors %}
		          
<p class="error">
		         
{% for error in field.errors %}
		            {{ error }}
		          {% endfor %}</p>
		        
{% endif %}
            </div>
       
{% endfor %}
    		
<input type="submit"  value="Submit" />
   	  </form>
</BODY>
</HTML>
